html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content {
    background: rgb(0, 31, 165);
    color: white;
    min-height: 100vh;
}

.footer {
    background: black;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}

.info {
    background: cornflowerblue;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    margin: 32px;
}

.info__paragraph {
    margin: 0;
}

.info__title {
    margin: 0;
}

.main-header__item {
    list-style-type: none;
    background: rgb(48, 113, 233);
    padding: 16px;
    min-width: 160px;
    border-radius: 16px;
    text-align: center;
    margin: 16px;
}

.main-header__link {
    text-decoration: none;
    color: silver;
}

.main-header__link-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 0;
}

.main-header__title {
    font-size: 60px;
    letter-spacing: 8px;
    text-align: center;
    margin: 0;
    padding: 48px;
}

.news {
    background: rgb(48, 113, 233);
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    margin: 32px;
}

.news__paragraph {
    margin: 0;
}

.news__pic {
    max-width: 128px;
    max-height: 128px;
}

.news__title {
    margin: 0;
}

@media (min-width: 641px) and (max-width: 960px) {
    .main-header__link-list {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 640px) {
    .main-header__link-list {
        grid-template-columns: 1fr;
    }

    .news__pic {
        max-width: 64px;
        max-height: 64px;
    }
}